*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: rgba(255, 144, 14, 0.10); 
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{ display: flex;

}
nav li{
    list-style: none; margin-right: 30px;
    
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
nav h2{
    font-size: 2.8rem;
    font-weight: 700;
}
.banner{
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
}
.banner h1{
    font-size: 4rem;
    font-weight: 700;
}
.banner p {
    font-weight: 400;
}
.btn-primary{
    color: white;
    background-color: tomato;
    border-radius: 5px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}
.banner-image img{
    margin: 20px auto;
    width: 100%;
}


main{
    margin: 20px auto;
    max-width: 1100px;
}

.feature-section{
    display: flex;
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

span{
    color: tomato;
    font-size: 2.2rem;
}
.feature-description{
    padding-left: 50px;
    padding-right: 20px;
    max-width: 500px;
}

.team-image img {
    width:100%;
    
}


@media screen and (max-width: 576px) { 
    header{ padding: 20px;}
    nav, .feature-section {flex-direction: column;}
    .team-image{
        grid-template-columns: 1fr;}
    .feature-description{
        margin-top: 20px;
    }

}


@media screen and (min-width: 576px) and (max-width: 960px) { header{
    padding: 45px;
}
    nav, .feature-section {
        flex-direction: column;
    }
    .team-image{
        padding: 10px 20px;
    }
}
